.lightpick-container {
    max-width: 212px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    line-height: normal;
}

    .lightpick-container, .lightpick-container *, .lightpick-container:after, .lightpick-container:before {
        box-sizing: border-box;
    }

        .lightpick-container.is-hidden {
            display: none;
        }

        .lightpick-container.rows-2 {
            max-width: 400px;
        }

        .lightpick-container.rows-3 {
            max-width: 600px;
        }

        .lightpick-container.rows-4 {
            max-width: 800px;
        }

        .lightpick-container.rows-5 {
            max-width: 1000px;
        }

        .lightpick-container > .months {
            display: -moz-webkit-flex;
            display: -webkit-flex;
            display: -ms-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

            .lightpick-container > .months > .month {
                padding: 5px;
                width: 200px;
                border: 1px solid #eee;
            }

                .lightpick-container > .months > .month:hover > .title {
                    color: #4285f4;
                }

                .lightpick-container > .months > .month > .title {
                    padding: 5px;
                    font-size: 12px;
                    font-weight: 400;
                    color: #757575;
                    display: -moz-webkit-flex;
                    display: -webkit-flex;
                    display: -ms-box;
                    display: flex;
                    justify-content: space-between;
                    line-height: 24px;
                }

        .lightpick-container > .top-buttons {
            text-align: right;
            border: 1px solid #eee;
        }

            .lightpick-container > .top-buttons > button {
                margin-left: 5px;
                padding: 0 5px;
                font-size: 12px;
                line-height: 24px;
            }

                .lightpick-container > .top-buttons > button.close {
                    font-size: 18px;
                }

        .lightpick-container .prev, .lightpick-container .next {
            border: none;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            outline: none;
        }

            .lightpick-container .prev:hover, .lightpick-container .next:hover {
                background-color: rgba(0,0,0,.07);
                cursor: pointer;
            }

        .lightpick-container > .months > .month > .daynames {
            display: -ms-grid;
            display: grid;
            grid-template-columns: repeat(7,1fr);
            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            text-align: center;
            padding: 5px 0;
            font-size: 10px;
            font-weight: 500;
            color: #757575;
        }

        .lightpick-container > .months > .month > .days {
            display: -ms-grid;
            display: grid;
            grid-template-columns: repeat(7,1fr);
            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            text-align: center;
            font-size: 10px;
        }

            .lightpick-container > .months > .month > .days > .day {
                padding: 7px 0;
                color: #212121;
                font-size: 11px;
                border-radius: 50%;
            }

                .lightpick-container > .months > .month > .days > .day:hover {
                    background-color: #e0e0e0;
                    cursor: pointer;
                }

                .lightpick-container > .months > .month > .days > .day.today {
                    font-weight: 500;
                    background-color: #cddc39;
                }

                .lightpick-container > .months > .month > .days > .day.prev-month, .lightpick-container > .months > .month > .days > .day.next-month {
                    color: #757575;
                }

                .lightpick-container > .months > .month > .days > .day.disabled {
                    color: #ddd;
                    text-decoration: line-through;
                    background-color: #fff;
                }

                .lightpick-container > .months > .month > .days > .day.in-range {
                    background-color: rgb(66,133,244,.7);
                    color: #fff;
                    border-radius: 0;
                }

                .lightpick-container > .months > .month > .days > .day.start-date.in-range, .lightpick-container > .months > .month > .days > .day.end-date.in-range.invert {
                    border-top-left-radius: 50%;
                    border-bottom-left-radius: 50%;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                    .lightpick-container > .months > .month > .days > .day.end-date.in-range, .lightpick-container > .months > .month > .days > .day.start-date.in-range.invert {
                        border-top-right-radius: 50%;
                        border-bottom-right-radius: 50%;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                .lightpick-container > .months > .month > .days > .day.start-date.end-date {
                    border-radius: 50%;
                }

                .lightpick-container > .months > .month > .days > .day.start-date, .lightpick-container > .months > .month > .days > .day.end-date, .lightpick-container > .months > .month > .days > .day.start-date:hover, .lightpick-container > .months > .month > .days > .day.end-date:hover {
                    color: #fff;
                    font-weight: 500;
                    background-color: #4285f4;
                }