﻿body {
    font-family: "Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    background-color: #FFF;
    font-size: .8em
}

.master-headercontainer {
    background-image: url(/Resources/Images/2.png);
    background-color: #1090c3;
    width: 100%;
    float: left
}

.master-detailarea {
    width: 98%;
    padding: 1%
}

.master-footer {
    float: left;
    width: 99%;
    padding: .5%;
    bottom: 0;
    color: #b6ff00;
    background-color: #2a2626;
    text-align: center;
    position: fixed
}

    .master-footer a {
        text-decoration: none;
        color: #fff
    }

.master-bodycontainer {
    background-image: url(/Resources/Images/2.jpg);
    background-color: #1090c3;
    width: 100%;
    float: left
}

.master-header {
    width: 98%;
    padding: 1%;
    float: left;
    border-bottom: 1px solid #29b8e5
}

.headerlogo-area {
    float: left;
    min-width: 10%
}

.headerinfo-area {
    float: left;
    width: 40%
}

.headertitle-area {
    float: left;
    word-wrap: break-word;
    width: 30%
}

.headetcontact-area {
    float: right;
    padding-left: 5%;
    width: 15%
}

.logoimg {
    height: 50%;
    width: 50%;
    max-height: 100px
}

.contactdetails {
    width: 100%;
    color: #FFF
}

.companyname {
    text-align: left;
    color: #15aeec;
    font-size: 2em
}

.locationname {
    text-align: left;
    color: #b3dced;
    font-size: 2em
}

.address {
    text-align: left;
    color: #b3dced;
    font-size: 1em
}

.webtitle {
    text-align: left;
    color: #344daf;
    font-size: 1em
}

.contactinfo {
    color: #1090c3;
    font-size: 1em
}

.search-area-bgcolor {
    background: #b3dced;
    background: -moz-linear-gradient(-45deg,#b3dced 0%,#29b8e5 50%,#bce0ee 100%);
    background: -webkit-linear-gradient(-45deg,#b3dced 0%,#29b8e5 50%,#bce0ee 100%);
    background: linear-gradient(135deg,#b3dced 0%,#29b8e5 50%,#bce0ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3dced',endColorstr='#bce0ee',GradientType=1)
}

.search-area {
    width: 96%;
    margin: 1%;
    margin-top: 1%;
    margin-bottom: 0;
    padding: 1%;
    float: left;
    border: 2px solid #888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center
}

.search-area-boxleft {
    width: 40%;
    float: left;
    text-align: center
}

.search-area-boxcenter {
    width: 54%;
    float: left;
    text-align: center
}

.search-area-boxright {
    width: 2%;
    float: left;
    text-align: center
}

.detail-area {
    width: 98%;
    margin: 1%;
    float: left;
    text-align: center
}

.detail-area-leftbox {
    width: 58%;
    padding: 1%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    float: left
}

.detail-area-rightbox {
    padding: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    width: 36%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    float: left
}

.detail-area-right-bottombox {
    padding: 1%;
    margin-left: 1%;
    width: 36%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    float: left;
    bottom: 0;
    position: sticky;
    z-index: 9999
}

.freearea {
    float: left;
    height: 200px;
    width: 100%
}

.sticky-note {
    float: left;
    text-align: left;
    width: 96%;
    margin: 1%;
    margin-top: 0;
    margin-bottom: 1%;
    padding: 1%;
    text-decoration: none;
    background-color: #0094ff;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    -moz-box-shadow: 2px 2px 5px rgba(33,33,33,1);
    -webkit-box-shadow: 2px 2px 5px rgba(33,33,33,.7);
    box-shadow: 2px 2px 5px rgba(33,33,33,.7);
    border-left: 10px solid #000;
    z-index: 9999
}

.sticky-note-close {
    margin-left: 15px;
    color: #000;
    font-weight: 700;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: .3s
}

    .sticky-note-close:hover {
        opacity: .5;
        cursor: pointer
    }

.sticky-remark {
    float: left;
    text-align: left;
    width: 96%;
    margin: 1%;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 1%;
    text-decoration: none;
    background-color: #F9F9F9;
    color: #000;
    font-size: 1em;
    -moz-box-shadow: 2px 2px 5px rgba(33,33,33,1);
    -webkit-box-shadow: 2px 2px 5px rgba(33,33,33,.7);
    box-shadow: 2px 2px 5px rgba(33,33,33,.7);
    border-left: 10px solid #000;
    z-index: 9999
}

.sticky-info {
    float: left;
    text-align: left;
    width: 96%;
    margin: 1%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1%;
    text-decoration: none;
    background-color: #F9F9F9;
    color: #000;
    font-size: 1em;
    -moz-box-shadow: 2px 2px 5px rgba(33,33,33,1);
    -webkit-box-shadow: 2px 2px 5px rgba(33,33,33,.7);
    box-shadow: 2px 2px 5px rgba(33,33,33,.7);
    border-left: 10px solid #000;
    z-index: 9999
}

.btn {
    cursor: pointer;
    border: 1px solid #15aeec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: 700;
    color: #FFF;
    background-color: #49c0f0;
    background-image: linear-gradient(to bottom,#49c0f0,#2CAFE3)
}

    .btn:hover {
        border: 1px solid #1090c3;
        background-color: #1ab0ec;
        background-image: linear-gradient(to bottom,#1ab0ec,#1a92c2)
    }

.tblroomOptions-meal {
    padding: 2%;
    font-weight: 700;
    text-align: left;
    color: blue
}

.gv-vertical-align {
    vertical-align: top
}

.tblroom-rate {
    vertical-align: top;
    font-weight: 700;
    text-align: right;
    color: #000
}

.tblroom-exopt {
    vertical-align: top;
    font-weight: 700;
    text-align: left;
    color: #000
}

.hidden {
    display: none;
}

.taxtbl-rate {
    font-weight: 400;
    text-align: right;
    color: #1090c3;
    font-size: 1.2em;
    padding-right: 5%;
    font-weight: bold
}

.tblroom-available {
    padding: 2%;
    margin: 2%;
    font-weight: 700;
    text-align: left;
    color: #fff;
    background-color: #ff6a00;
    border: 1px solid #888;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.tblroom-free {
    padding: 1%;
    font-weight: 700;
    text-align: left;
    color: #888
}

.tblroom-roomtype {
    vertical-align: top;
    font-size: 1.5em;
    padding: 2%;
    margin-bottom: 2%;
    font-weight: 700;
    text-align: left;
    color: #1a92c2
}

.tblroom-type {
    vertical-align: top;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #000
}

.tblroom-fac {
    padding: 2%;
    text-align: left;
    color: #c40e0e;
    font-size: .8em;
    border: none
}

.tblroomOptions-payments {
    padding: 2%;
    font-weight: 700;
    text-align: left;
    color: green
}

.tblroomOptions-cancel {
    padding: 2%;
    font-weight: 700;
    text-align: left;
    color: #19e03b
}

.tblroomOptions-tax {
    padding: 2%;
    font-weight: 700;
    text-align: left;
    color: #a9a9a9
}

.btnshowstyle {
    cursor: pointer;
    border: 2px solid #888;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: "Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: 700;
    color: white;
    background-color: #ffaf49;
}

    .btnshowstyle:hover {
        border: 2px solid green;
        background-color: #ffaf49;
    }

.total-amount {
    font-weight: 700;
    font-size: 20px
}

.total-amountlbl {
    font-weight: 500;
    font-size: 12px
}

.total-amounttb {
    margin-top: 5%;
    width: 100%
}

.leftOuterdiv {
    float: left;
    width: 50%
}

.rightOuterdiv {
    float: left;
    width: 50%
}

.leftdiv {
    float: left;
    margin: 1%;
    margin-right: 0;
    padding: .5%;
    border: 1px solid #29b8e5;
    width: 97%
}

.rightdiv {
    float: left;
    margin: 1%;
    margin-right: 0;
    padding: .5%;
    border: 1px solid #29b8e5;
    width: 97%
}

.tdleft {
    text-align: left
}

.tdright {
    text-align: right
}

.tdcenter {
    text-align: center
}

.titlefont {
    font-size: 5em;
    color: #1090c3
}

.billdiv {
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: #FFF;
    padding: 1%;
    border: 1px dotted #888
}

.billtotamt {
    font-size: 3em;
    color: #1090c3
}

.billtb {
    border-collapse: collapse;
    border: none;
    width: 100%;
    margin-bottom: 2%
}

.billtr {
    background-color: #CCC
}

.billtd {
    border-collapse: collapse;
    border: 1px solid #888;
    padding: .5%;
    border-spacing: 0
}

.billtdhead {
    border: 1px solid #888;
    padding: .5%;
    border-spacing: 0
}

.hideDiv {
    display: none
}

.message-area {
    margin: 1%;
    width: 50%;
    background-color: #FFF;
    padding: 1%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px rgba(33,33,33,1);
    -webkit-box-shadow: 2px 2px 5px rgba(33,33,33,.7);
    box-shadow: 2px 2px 5px rgba(33,33,33,.7);
    text-align: left
}

.fontbold {
    font-weight: 700
}

.fontred {
    color: red
}

.imglogo {
    width: 50%;
    height: 50%
}

.td100 {
    width: 100%;
    text-align: left
}

.td90 {
    width: 90%;
    vertical-align: top
}

.td70 {
    width: 70%;
    vertical-align: top
}

.td50 {
    width: 50%;
    vertical-align: top
}

.td40 {
    width: 40%;
    vertical-align: top
}

.td30 {
    width: 33.3%
}

.td20 {
    width: 20%
}

.td10 {
    width: 10%
}

.leftalign {
    text-align: left
}

.rightalign {
    text-align: right
}

.centeralign {
    text-align: center
}

.inputgridbox {
    margin: .5%;
    font-family: "Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    background: #FFF;
    width: 80%;
    height: 52px;
    border: 1px solid #49c0f0;
    color: #888;
    text-align: center;
    padding: 0 16px;
    vertical-align: middle
}

    .inputgridbox:focus {
        border: 1px solid #344daf;
        outline: none
    }

.adults-icon {
    background-image: url(/Images/Icons/adults.png)
}

.children-icon {
    background-image: url(/Images/Icons/children.png)
}

.rooms-icon {
    background-image: url(/Images/Icons/rooms.png)
}

.calendar-icon {
    background-image: url(/Images/Icons/calendar.png)
}

.location-icon {
    background-image: url(/Images/Icons/location.png)
}

.icon-group {
    display: block;
    background-size: 15px;
    background-position: 16px center;
    background-repeat: no-repeat
}

.ddlbox {
    font-family: "Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    width: 97%;
    height: 52px;
    border: 1px solid #49c0f0;
    color: #888;
    text-align: center;
    vertical-align: middle;
    padding-left: 40px
}

    .ddlbox:focus {
        border: 1px solid #344daf;
        outline: none
    }

.ddlgridbox {
    font-family: "Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    width: 100%;
    height: 30px;
    border: 1px solid #49c0f0;
    color: #888;
    text-align: center;
    vertical-align: middle;
    padding-left: 30px
}

    .ddlgridbox:focus {
        border: 1px solid #344daf;
        outline: none
    }

.ddlexoptgridbox {
    font-family: "Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    width: 97%;
    height: 30px;
    border: 1px solid #49c0f0;
    color: #888;
    text-align: center;
    vertical-align: middle;
}

    .ddlexoptgridbox:focus {
        border: 1px solid #344daf;
        outline: none
    }

.room-reservationGV {
    font-family: "Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    width: 100%
}

.taxtbGV {
    font-family: "Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif
}

.room-reservationHd {
    background-color: #49c0f0;
    color: #fff;
    height: 10%;
    text-align: center;
    font-size: 14px;
    font-weight: bolder
}

.room-reservationrw {
    background-color: #fff;
    font-size: 14px;
    color: #CCC;
    text-align: left;
    padding: 10%;
    width: 100%
}

.room-exoptionrw {
    background-color: #fff;
    font-size: 14px;
    color: #CCC;
    text-align: left;
    padding: 10%;
    width: 100%
}

.room-reservationGV tr td {
    border: 1px solid #CCC
}

.room-reservationDL {
    text-align: center;
    width: 5%
}

.resbtn-div {
    vertical-align: top;
    padding-left: 2%;
    width: 30%
}

.inputtextbox {
    margin: .5%;
    font-family: "Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    background: #FFF;
    width: 95%;
    height: 26px;
    border: 1px solid #49c0f0;
    color: #888;
    text-align: left;
    padding-left: 5px;
    vertical-align: middle
}

    .inputtextbox:focus {
        background: #f6f8f9;
        border: 1px solid #344daf;
        outline: none
    }

.custddlbox {
    margin: .5%;
    font-family: "Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    background: #FFF;
    width: 98%;
    height: 26px;
    border: 1px solid #49c0f0;
    color: #888;
    text-align: left;
    vertical-align: middle
}

    .custddlbox:focus {
        background: #f6f8f9;
        border: 1px solid #344daf;
        outline: none
    }

.custInfoBtn {
    width: 50%;
    margin: 10%
}

.resimage {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    .search-area {
        margin-bottom: 0;
        float: left
    }

    .search-area-boxleft {
        width: 90%;
        float: left;
        text-align: center
    }

    .search-area-boxcenter {
        width: 90%;
        float: left;
        text-align: center
    }

    .search-area-boxright {
        float: left;
        width: 4%;
        text-align: center
    }
}

@media only screen and (max-width: 600px) {
    .search-area-boxleft {
        width: 98%;
        padding: 1%;
        float: left;
        text-align: center
    }

    .search-area-boxcenter {
        width: 98%;
        padding: 1%;
        float: left;
        text-align: center
    }

    .search-area-boxright {
        width: 98%;
        float: left;
        padding: 1%;
        text-align: center
    }
}

.pnllayout {
    float: left;
    height: 250px;
    width: 30%;
    padding: 5px;
    margin: 1%;
    border: 1px solid #000;
    font-weight: bold;
    color: #29b8e5;
    overflow: auto;
}