﻿.preloadcenter {
    text-align: center
}

.hidecolum {
    display: none
}

.valsummary {
    color: Red;
    font-size: 1em
}

.errorbanner {
    position: fixed;
    top: 4%;
    text-align: center;
    height: 50px;
    left: 30%;
    z-index: 100;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0;
    padding: 10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 5px;
    width: 100%;
    word-wrap: break-word
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    width: 100%;
    border: 1px solid #33F;
    word-wrap: break-word
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    width: 100%;
    border: 1px solid #060;
    word-wrap: break-word
}

.warning {
    color: #FF6600;
    background-color: #FEEFB3;
    width: 100%;
    border: 1px solid #FC0;
    word-wrap: break-word;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    width: 100%;
    border: 1px solid #900;
    word-wrap: break-word
}

.errortextmsg {
    font-size: 2em;
    color: #1173AC;
    width: 98%;
    height: 100%;
    padding: 2%;
    text-align: justify;
    font-weight: 700;
    min-height: 100px;
    border: 1px solid #CCC
}

.errorpage {
    width: 98%;
    text-align: center;
    padding: 1%
}

.errortxtarea {
    float: left;
    width: 98%;
    text-align: center;
    padding: 1%
}

.errordispaly {
    width: 96%;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: 1px solid #1173AC;
    resize: none;
    padding: 2%;
    word-wrap: break-word;
    text-align: justify;
}

textarea {
    resize: none
}

.multifont {
    font-size: 1em
}

.companylogo {
    width: 100%;
    height: 100%
}

.companyinfoarea {
    background-color: #4F8A10;
}

.utctimearea {
    background-color: #2c2828;
    padding: 5px;
    font-size: 0.8em;
    color: #00ffff;
}