﻿body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #CCC;
    font: 10pt "Tahoma";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    position: relative;
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #DDD solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    padding: 0.2cm;
    /*border: 5px red solid;*/
    height: 257mm;
    outline: 2cm #FFF solid;
}

.heading {
    font-size: 2.0em;
    color: Blue;
    font-weight: bold;
    text-align: right;
}

.subheading {
    -webkit-print-color-adjust: exact;
    font-size: 1.2em;
    color: #FFF;
    background-color: Blue;
    font-weight: bold;
    text-align: center;
}

.printtable {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

.gridright {
    text-align: right;
    border: 1px solid #CCC;
    padding: 3px;
}

.gridleft {
    text-align: left;
    border: 1px solid #CCC;
    padding: 3px;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        /*page-break-after: always;*/
    }
}