﻿body {
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    background-color: #FFFFFF;
    font-size: 0.8em;
}

.paymentdetails {
    text-align: left;
    width: 100%;
    padding: 3%;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #f1efef;
    border-bottom: 1px solid #888888;
}

.carddetails-area {
    text-align: left;
    margin: 1% 30% 0% 30%;
    width: 40%;
    border: 1px solid #888888;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.carddetails {
    text-align: left;
    width: 100%;
    padding: 5%;
    border-bottom: 1px solid #CCC;
}

.td30 {
    width: 30%;
}

.td40 {
    width: 40%;
}

.td20 {
    width: 20%;
}

.inputtextbox {
    margin: 0.5%;
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    background: #FFFFFF;
    width: 90%;
    height: 26px;
    border: 1px solid #ccc;
    color: #888888;
    text-align: left;
    padding-left: 5px;
    vertical-align: middle;
}

    .inputtextbox:focus {
        background: #f6f8f9; /*border: 1px solid #344daf;*/
        border: 1px solid #344daf;
        outline: none;
    }

.btn {
    cursor: pointer;
    border: 1px solid #15aeec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #49c0f0;
    background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);
}

    .btn:hover {
        border: 1px solid #1090c3;
        background-color: #1ab0ec;
        background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
    }

.txtbox_cardnumber {
    text-align: right;
    background-size: 15px;
    background-position: 16px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin: 3px;
    background-image: url(/images/Modules/icon-card.png);
}

.txtbox_cardname {
    text-align: right;
    background-size: 15px;
    background-position: 16px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin: 3px;
    background-image: url(/images/Modules/icon-user.png);
}

.txtbox_cardcvc {
    text-align: right;
    background-size: 15px;
    background-position: 16px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin: 3px;
    background-image: url(/images/Modules/icon-lock.png);
}

.txtbox_cardexpiry {
    text-align: right;
    background-size: 15px;
    background-position: 16px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin: 3px;
    background-image: url(/images/Modules/icon-calendar.png);
}

@media only screen and (max-width : 1000px) {
    .carddetails {
        text-align: center;
        margin: 1% 25% 0% 25%;
        width: 50%;
    }
}

@media only screen and (max-width : 600px) {
    .carddetails {
        text-align: center;
        margin: 1% 1% 0% 1%;
        width: 98%;
    }
}