﻿body {
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    background-color: #FFFFFF;
    font-size: 0.8em;
    background: url('/Images/Bg/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logincontainer {
    width: 100%;
    padding-top: 8%;
    text-align: center;
    text-align: center;
    vertical-align: middle;
}

.loginbox {
    width: 30%;
    display: table;
    margin: 0 auto;
    margin-right: 10%;
    background-color: #FFF;
    border: 1px solid #49c0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
}

.loginboxtop {
    position: relative;
    background: #b3dced; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #FFF;
    font-size: 2.0em;
    padding: 4%;
    text-align: left;
}

.loginboxmiddle {
    position: relative;
    background-color: #FFF;
    color: #000;
    font-size: 1.0em;
    padding: 4%;
    text-align: left;
    top: 0px;
    left: 0px;
}

.loginboxbottom {
    position: relative;
    background-color: #FFF;
    color: #000;
    font-size: 1.0em;
    padding: 4%;
    text-align: center;
}

.inputtextbox {
    margin: 0.5%;
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    background: #FFFFFF;
    width: 90%;
    height: 26px;
    border: 1px solid #49c0f0;
    color: #888888;
    text-align: left;
    padding-left: 5px;
    vertical-align: middle;
}

    .inputtextbox:focus {
        background: #f6f8f9; /*border: 1px solid #344daf;*/
        border: 1px solid #344daf;
        outline: none;
    }

.ddlbox {
    margin: 0.5%;
    font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    background: #FFFFFF;
    width: 93%;
    height: 30px;
    border: 1px solid #49c0f0;
    color: #888888;
    text-align: left;
    vertical-align: middle;
}

    .ddlbox:focus {
        background: #f6f8f9; /*border: 1px solid #344daf;*/
        border: 1px solid #344daf;
        outline: none;
    }

.btn {
    cursor: pointer;
    border: 1px solid #15aeec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #49c0f0;
    background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);
}

    .btn:hover {
        border: 1px solid #1090c3;
        background-color: #1ab0ec;
        background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
    }

.logoarea {
    position: fixed;
    text-align: center;
    vertical-align: middle;
    top: 10px;
    left: 10px;
    width: 20%;
    padding: 1%;
    opacity: 0.8;
}

.footer {
    position: fixed;
    text-align: center;
    vertical-align: middle;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 1%;
    background-color: #49c0f0;
    opacity: 0.8;
    color: #FFF;
}

.cracccontainer {
    width: 100%;
    padding-top: 8%;
    text-align: center;
    vertical-align: middle;
}

.errorbox {
    width: 20%;
    float: right;
    margin: 0 auto;
    margin-right: 2%;
    text-align: left;
    background-color: #FFF;
}

.craccbox {
    width: 50%;
    display: table;
    margin: 0 auto;
    margin-right: 25%;
    background-color: #FFF;
    border: 1px solid #49c0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
}

.craccboxtop {
    position: relative;
    background: #b3dced; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #FFF;
    font-size: 2.0em;
    padding: 2%;
    text-align: left;
}

.craccboxmiddle {
    position: relative;
    background-color: #FFF;
    color: #000;
    font-size: 1.0em;
    padding: 4%;
    text-align: left;
    top: 0px;
    left: 0px;
}

.craccboxbottom {
    position: relative;
    float: left;
    background-color: #FFF;
    color: #000;
    font-size: 1.0em;
    padding: 4%;
    width: 92%;
    text-align: center;
}

.divleft {
    float: left;
    width: 50%;
}

.divright {
    float: left;
    width: 50%;
}

.verifycode {
    width: 20%;
    padding: 2%;
    height: 20px;
    font-size: 2em;
    color: #000;
    font-weight: bold;
    text-align: center;
    border: 5px solid #F67845;
}

.textverifytitle {
    font-size: 1.0em;
    color: #1173AC;
}

.modulearea {
    position: relative;
    width: 50%;
    top: 100px;
    float: right;
    text-align: right;
}

.dashboardwigs {
    position: relative;
    width: 20%;
    float: right;
    margin: 2.0%;
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: #FFF;
    opacity: 0.8;
    border: 1px solid #29b8e5;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

    .dashboardwigs:hover {
        background-color: #E9E9E9;
        color: #29b8e5;
    }

.boxheader {
    padding: 20%;
    padding-top: 5%;
    padding-bottom: 25%;
    top: 0px;
    height: 40px;
    font-size: 1.2em;
    font-variant: small-caps;
    text-align: center;
    color: #FFF;
}

    .boxheader img {
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        transition: all 0.4s linear;
    }

        .boxheader img:hover {
            -webkit-transform: scale(0.8);
            -moz-transition: scale(0.8);
            -o-transition: scale(0.8);
            -ms-transition: scale(0.8);
            transform: scale(0.8);
        }

.boxbottom {
    padding: 2%;
    padding-top: 2.5%;
    bottom: 0px;
    height: 50px;
    font-size: 1.3em;
    font-variant: small-caps;
    color: #333;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

    .boxbottom:hover {
        color: #29b8e5;
    }

@media only screen and (max-width: 1000px) {
    .loginbox {
        width: 40%;
        display: table;
        margin: 0 auto;
        margin-left: 50%;
        background-color: #FFF;
        border: 1px solid #49c0f0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        opacity: 0.9;
    }

    .cracccontainer {
        width: 100%;
        padding-top: 10%;
        text-align: center;
        vertical-align: middle;
    }

    .errorbox {
        width: 90%;
        float: right;
        margin: 0 auto;
        margin-top: 2%;
        margin-right: 5%;
    }

    .craccbox {
        width: 90%;
        display: table;
        margin: 0 auto;
        margin-right: 5%;
        background-color: #FFF;
        border: 1px solid #49c0f0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        opacity: 0.9;
    }

    .craccboxbottom {
        padding: 2%;
    }
}

@media only screen and (max-width: 600px) {
    .logoarea {
        width: 98%;
        padding: 1%;
        opacity: 0.8;
    }

    .loginbox {
        width: 90%;
        display: table;
        margin: 0 auto;
        margin-top: 10%;
        background-color: #FFF;
        border: 1px solid #49c0f0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        opacity: 0.9;
    }

    .divleft {
        float: left;
        width: 100%;
    }

    .divright {
        float: left;
        width: 100%;
    }

    .cracccontainer {
        width: 100%;
        padding-top: 30%;
        text-align: center;
        vertical-align: middle;
    }

    .footer {
        display: none;
    }
}