﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PaymentGateway.master.cs" Inherits="ISECBENG.Master.PaymentGateway" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Secvision - Hotel Reservation System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Design & Developed by Secvision" />
    <meta name="author" content="Secvision (Private) Limited." />
    <link href="../Styles/StylePaymentGateway.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/StyleError.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="<%= ResolveUrl ("~/Scripts/UTCdatetime.js") %>"></script>
    <script type="text/javascript">
        function getclientDateTime() {
            var utcdatetime = getUTCdatetime();
            document.getElementById('<%= hfutctime.ClientID %>').value = utcdatetime.toString();

        }
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="margin: 0px">
    <form id="form1" runat="server">
        <div class="Maincontainer">
            <div class="header">
                <asp:Image ID="imglogo" runat="server" />
            </div>
            <div class="title">
                <asp:Label ID="lbltitle" runat="server" Text=""></asp:Label>
            </div>
            <div class="detailarea">
                <asp:ContentPlaceHolder ID="CP1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div class="footer">
                <asp:Label ID="lblcompany" runat="server" Text=""></asp:Label>
            </div>
            <asp:HiddenField ID="hfutctime" ClientIDMode="Static" runat="server" />
        </div>
    </form>
</body>
</html>