﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ntbresponse.aspx.cs" Inherits="ISECBENG.Modules.PaymentGateway.NTBPaymentGateway.ntbresponse" ValidateRequest="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Response</title>
    <script src="../../../Scripts/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>