﻿

.headercontainer {
    background-image: url('/UserResources/Bg/2.jpg');
    background-color: #1090c3;
    width: 100%;
    float: left;
}

.header {
    width: 98%;
    padding: 1%;
    float: left;
    border-bottom: 1px solid #29b8e5;
}

.contactdetails {
    width: 100%;
    color: #FFF;
}

.companyname {
    color: #15aeec;
    font-size: 2.0em;
    font-weight: bold;
}

.locationname {
    color: #b3dced;
    font-size: 2.0em;
    font-weight: bold;
}

.address {
    color: #bce0ee;
    font-size: 1.0em;
    font-weight: bold;
}

.webtitle {
    color: #ffd800;
    font-size: 1.0em;
    font-weight: bold;
}

.contactinfo {
    color: #1090c3;
    font-size: 1.0em;
    font-weight: bold;
}


.search-area-bgcolor {
    background: #b3dced; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.search-area {
    width: 80%;
    margin: 9%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    float: left;
    border: 2px solid #888888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.detail-area {
    width: 98%;
    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    float: left;
    text-align: center;
}


.detail-area-leftbox {
    width: 58%;
    padding: 1%;
    float: left;
}

.detail-area-rightbox {
    padding: 1%;
    width: 38%;
    float: left;
}

.btn {
    cursor: pointer;
    border: 1px solid #15aeec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #49c0f0;
    background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);
    height: 52px;
    width: 100%;
}

    .btn:hover {
        border: 1px solid #1090c3;
        background-color: #1ab0ec;
        background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
    }
